* {
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    background-color: #fffdee;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .ku_img {
    width: 95vw;
    max-width: 300px;
  }
  
 .tutorial{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 85vw;
  max-width: 400px;
  max-height: 150px;
  height: 20vh;
  font-size: smaller;
  font-weight: 600;
  text-align: center;
  border: solid 5px #6F573C;
  border-radius: 15px;
 }
 .page{
  position: absolute;
  bottom: 5%;
  color: #6D563B;
  font-size: larger;
 }
 .nextButton{
  background: none;
  border:none;
  position:absolute;
  right: 2%;
 }

  